<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meal Planner</title>

        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        <link rel="stylesheet" href='styles.css'/>
    </head>

    <body ng-app='mealApp'>
        <div ng-controller="MainController as MC" ng-cloak>
            <a href='/' >
                <h1>{{MC.title}}</h1>
            </a>

            <md-fab-toolbar md-open="MC.isOpen" count="MC.count" md-direction="{{MC.selectedDirection}}">
                <md-fab-trigger class="align-with-text">
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-toolbar>
                    <md-fab-actions class="md-toolbar-tools">
                        <md-button aria-label="comment" class="md-icon-button">
                            <md-icon md-svg-src="img/icons/ic_comment_24px.svg"></md-icon>
                        </md-button>
                        <md-button aria-label="label" class="md-icon-button">
                            <md-icon md-svg-src="img/icons/ic_label_24px.svg"></md-icon>
                        </md-button>
                        <md-button aria-label="photo" class="md-icon-button">
                            <md-icon md-svg-src="img/icons/ic_photo_24px.svg"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-toolbar>
            </md-fab-toolbar>
            <md-content class="md-padding" layout="column">
                <div layout="row" layout-align="space-around">
                    <div layout="column">
                        <b>Open/Closed</b>
                        <md-radio-group ng-model="MC.isOpen">
                            <md-radio-button ng-value="true">Open</md-radio-button>
                            <md-radio-button ng-value="false">Closed</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div layout="column">
                        <b>Direction</b>
                        <md-radio-group ng-model="MC.selectedDirection">
                            <md-radio-button ng-value="'left'">Left</md-radio-button>
                            <md-radio-button ng-value="'right'">Right</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </md-content>
            <div ng-view></div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
        <!-- Angular -->
        <!-- <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js'></script> -->

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
        <!--Angular-Route -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-route.js"></script>
        <script src='js/app.js'></script>
        <script src='js/controllers.js'></script>
        <script src='js/routes.js'></script>

    </body>

</html>
